### Imports

In [13]:
import pandas as pd
import glob
import os

### Opening DFs

In [37]:
# ADI
df_adi = pd.read_csv('D:/UCLA/Capstone/HMS-MGH-Capstone-Project/datasets/ADI/US_2020_ADI_Census Block Group_v4.csv')
df_adi.head()

   Unnamed: 0  X.1  X          GISJOIN ADI_NATRANK ADI_STATERNK         FIPS
0           1    1  1  G01000100201001          66            4  10010201001
1           2    2  2  G01000100201002          66            4  10010201002
2           3    3  3  G01000100202001          88            7  10010202001
3           4    4  4  G01000100202002          88            7  10010202002
4           5    5  5  G01000100203001          75            5  10010203001

In [31]:
# AHD AK to IA
ahd_path = 'D:/UCLA/Capstone/HMS-MGH-Capstone-Project/datasets/AHD_Data/Alaska_to_Iowa/'
full_path = os.path.join(ahd_path, '*.csv')

all_ahd_files = glob.glob('D:/UCLA/Capstone/HMS-MGH-Capstone-Project/datasets/AHD_Data/AK_to_IA/' + "*.csv")
all_ahd_files = [f.replace("\\", "/") for f in all_ahd_files]

ahd_AK_IA_dfs = []
for filename in all_ahd_files:
    df = pd.read_csv(filename)
    ahd_AK_IA_dfs.append(df)

In [34]:
# AHD ID to MP
ahd_path = 'D:/UCLA/Capstone/HMS-MGH-Capstone-Project/datasets/AHD_Data/ID_to_MP/'
full_path = os.path.join(ahd_path, '*.csv')

all_ahd_files = glob.glob('D:/UCLA/Capstone/HMS-MGH-Capstone-Project/datasets/AHD_Data/ID_to_MP/' + "*.csv")
all_ahd_files = [f.replace("\\", "/") for f in all_ahd_files]

ahd_ID_to_MP_dfs = []
for filename in all_ahd_files:
    df = pd.read_csv(filename)
    ahd_ID_to_MP_dfs.append(df)

In [35]:
# AHD PR to WY
ahd_path = 'D:/UCLA/Capstone/HMS-MGH-Capstone-Project/datasets/AHD_Data/ID_to_MP/'
full_path = os.path.join(ahd_path, '*.csv')

all_ahd_files = glob.glob('D:/UCLA/Capstone/HMS-MGH-Capstone-Project/datasets/AHD_Data/PR_to_WY/' + "*.csv")
all_ahd_files = [f.replace("\\", "/") for f in all_ahd_files]

ahd_PR_to_WY_dfs = []
for filename in all_ahd_files:
    df = pd.read_csv(filename)
    ahd_PR_to_WY_dfs.append(df)