### Imports

In [2]:
import os
import glob
import pandas as pd

### Opening DFs

In [76]:
# ADI
df_adi = pd.read_csv('../Datasets/ADI/US_2020_ADI_Census Block Group_v4.csv', index_col=0).reset_index(drop=True)
df_adi.head()

   X.1  X          GISJOIN ADI_NATRANK ADI_STATERNK         FIPS
0    1  1  G01000100201001          66            4  10010201001
1    2  2  G01000100201002          66            4  10010201002
2    3  3  G01000100202001          88            7  10010202001
3    4  4  G01000100202002          88            7  10010202002
4    5  5  G01000100203001          75            5  10010203001

In [59]:
# AHD -- Data after running combine_data.ipynb in Datasets/AHD_data
ahd_df = pd.read_csv("../Datasets/AHD_Data/ahd_full_fips.csv", index_col=0).reset_index(drop=True)
print(len(ahd_df))
ahd_df.head()

3223

,fips_code,Staffed_Beds,Total_Discharges,Patient_Days,Gross_Patient_Revenue,Hospitals,Local_Hospital
0,1001,77.0,3049.0,15984.0,250284.0,1.0,yes
1,1003,301.0,18080.0,78361.0,2481966.0,3.0,yes
2,1005,47.0,1055.0,4571.0,76099.0,1.0,yes
3,1007,156.0,229.0,1053.0,31288.0,1.0,yes
4,1009,0.0,0.0,0.0,0.0,0.0,no

In [123]:
ahd_df.rename(columns={'fips_code': 'fips'}, inplace=True)

In [60]:
# Method 2
# # AHD AK to IA

# all_ahd_files = glob.glob('../Datasets/AHD_Data/AK_to_IA/' + "*.csv")
# all_ahd_files = [f.replace("\\", "/") for f in all_ahd_files]

# ahd_AK_to_IA_dfs = []
# for filename in all_ahd_files:
#     df = pd.read_csv(filename)
#     ahd_AK_to_IA_dfs.append(df)

# # AHD ID to MP

# all_ahd_files = glob.glob('../Datasets/AHD_Data/ID_to_MP/' + "*.csv")
# all_ahd_files = [f.replace("\\", "/") for f in all_ahd_files]

# ahd_ID_to_MP_dfs = []
# for filename in all_ahd_files:
#     df = pd.read_csv(filename)
#     ahd_ID_to_MP_dfs.append(df)

# # AHD MS to PA

# all_ahd_files = glob.glob('../Datasets/AHD_Data/MS_to_PA/' + "*.csv")
# all_ahd_files = [f.replace("\\", "/") for f in all_ahd_files]

# ahd_MS_to_PA_dfs = []
# for filename in all_ahd_files:
#     df = pd.read_csv(filename)
#     ahd_MS_to_PA_dfs.append(df)


# # AHD PR to WY

# all_ahd_files = glob.glob('../Datasets/AHD_Data/PR_to_WY/' + "*.csv")
# all_ahd_files = [f.replace("\\", "/") for f in all_ahd_files]

# ahd_PR_to_WY_dfs = []
# for filename in all_ahd_files:
#     df = pd.read_csv(filename)
#     ahd_PR_to_WY_dfs.append(df)


# # Concatenating the DataFrames within each list
# ahd_AK_to_IA_dfs = pd.concat(ahd_AK_to_IA_dfs, ignore_index=True)
# ahd_ID_to_MP_dfs = pd.concat(ahd_ID_to_MP_dfs, ignore_index=True)
# ahd_MS_to_PA_dfs = pd.concat(ahd_MS_to_PA_dfs, ignore_index=True)
# ahd_PR_to_WY_dfs = pd.concat(ahd_PR_to_WY_dfs, ignore_index=True)

# # Concatenating the resulting DataFrames into one
# ahd_df = pd.concat([ahd_AK_to_IA_dfs, ahd_ID_to_MP_dfs, ahd_MS_to_PA_dfs, ahd_PR_to_WY_dfs], ignore_index=True)

# ahd_df.head()

In [61]:
# State Covid Cases
df_cases = pd.read_csv('../Datasets/covid_data/us_state_confirmed_case.csv')
df_cases.head()

,Right_STATE,state,POP90,POP80,POP70,POP10,POP00,NAME,HHD90,HHD80,...,2023-03-14,2023-03-15,2023-03-16,2023-03-17,2023-03-18,2023-03-19,2023-03-20,2023-03-21,2023-03-22,2023-03-23
0,1,Alabama,4040576,3886040,3434507,4779736,4447059,Alabama,1506778,1340563,...,1644533,1646423,1646423,1646423,1646423,1646423,1646423,1646423,1648385,1648385
1,2,Alaska,549808,393155,225211,710231,626932,Alaska,188909,130004,...,308399,308399,308399,308399,308399,308399,308399,308893,308893,308893
2,4,Arizona,3663266,2705322,1768275,6392017,5130674,Arizona,1368775,953006,...,2444144,2448406,2448406,2448406,2448406,2448406,2448406,2448406,2451062,2451062
3,5,Arkansas,2350107,2253450,1901082,2915918,2673393,Arkansas,891049,805730,...,1007474,1007474,1007940,1008303,1008303,1008303,1008303,1008303,1008303,1008303
4,6,California,29724503,23575384,19838084,37253956,33871650,California,10377409,8624938,...,12135588,12136243,12152129,12153079,12153079,12153083,12154293,12154941,12155467,12169158

In [62]:
# State Covid Deaths
df_deaths = pd.read_csv('../Datasets/covid_data/us_state_confirmed_deaths.csv')
print(df_deaths.shape)
df_deaths.head()

(51, 1172)

,Right_STATE,state,POP90,POP80,POP70,POP10,POP00,NAME,HHD90,HHD80,...,2023-03-14,2023-03-15,2023-03-16,2023-03-17,2023-03-18,2023-03-19,2023-03-20,2023-03-21,2023-03-22,2023-03-23
0,1,Alabama,4040576,3886040,3434507,4779736,4447059,Alabama,1506778,1340563,...,21570,21612,21612,21612,21612,21612,21612,21612,21631,21631
1,2,Alaska,549808,393155,225211,710231,626932,Alaska,188909,130004,...,1438,1438,1438,1438,1438,1438,1438,1438,1438,1438
2,4,Arizona,3663266,2705322,1768275,6392017,5130674,Arizona,1368775,953006,...,33104,33158,33158,33158,33158,33158,33158,33158,33190,33190
3,5,Arkansas,2350107,2253450,1901082,2915918,2673393,Arkansas,891049,805730,...,13038,13038,13060,13068,13068,13068,13068,13068,13068,13068
4,6,California,29724503,23575384,19838084,37253956,33871650,California,10377409,8624938,...,104038,104047,104114,104130,104130,104130,104165,104185,104196,104277

### Merging DFs

In [63]:
df_deaths_cases = df_cases.merge(df_deaths, on='state', how='inner')
print(df_deaths_cases.shape)
df_deaths_cases.head()

(51, 2344)

,Right_STATE_x,state,POP90_x,POP80_x,POP70_x,POP10_x,POP00_x,NAME_x,HHD90_x,HHD80_x,...,2023-03-14_y,2023-03-15_y,2023-03-16_y,2023-03-17_y,2023-03-18_y,2023-03-19_y,2023-03-20_y,2023-03-21_y,2023-03-22_y,2023-03-23_y
0,1,Alabama,4040576,3886040,3434507,4779736,4447059,Alabama,1506778,1340563,...,21570,21612,21612,21612,21612,21612,21612,21612,21631,21631
1,2,Alaska,549808,393155,225211,710231,626932,Alaska,188909,130004,...,1438,1438,1438,1438,1438,1438,1438,1438,1438,1438
2,4,Arizona,3663266,2705322,1768275,6392017,5130674,Arizona,1368775,953006,...,33104,33158,33158,33158,33158,33158,33158,33158,33190,33190
3,5,Arkansas,2350107,2253450,1901082,2915918,2673393,Arkansas,891049,805730,...,13038,13038,13060,13068,13068,13068,13068,13068,13068,13068
4,6,California,29724503,23575384,19838084,37253956,33871650,California,10377409,8624938,...,104038,104047,104114,104130,104130,104130,104165,104185,104196,104277

In [64]:
state_abbreviations = {
    'Alaska': 'AK',
    'Alabama': 'AL',
    'Arkansas': 'AR',
    'Arizona': 'AZ',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'District of Columbia': 'DC',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Iowa': 'IA',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Massachusetts': 'MA',
    'Maryland': 'MD',
    'Maine': 'ME',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Missouri': 'MO',
    'Mississippi': 'MS',
    'Montana': 'MT',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Nebraska': 'NE',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'Nevada': 'NV',
    'New York': 'NY',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Virginia': 'VA',
    'Vermont': 'VT',
    'Washington': 'WA',
    'Wisconsin': 'WI',
    'West Virginia': 'WV',
    'Wyoming': 'WY'
}
df_deaths_cases['State'] = df_deaths_cases['state'].map(state_abbreviations)

In [65]:
df_main = df_deaths_cases

In [66]:
df_main.head()

,Right_STATE_x,state,POP90_x,POP80_x,POP70_x,POP10_x,POP00_x,NAME_x,HHD90_x,HHD80_x,...,2023-03-15_y,2023-03-16_y,2023-03-17_y,2023-03-18_y,2023-03-19_y,2023-03-20_y,2023-03-21_y,2023-03-22_y,2023-03-23_y,State
0,1,Alabama,4040576,3886040,3434507,4779736,4447059,Alabama,1506778,1340563,...,21612,21612,21612,21612,21612,21612,21612,21631,21631,AL
1,2,Alaska,549808,393155,225211,710231,626932,Alaska,188909,130004,...,1438,1438,1438,1438,1438,1438,1438,1438,1438,AK
2,4,Arizona,3663266,2705322,1768275,6392017,5130674,Arizona,1368775,953006,...,33158,33158,33158,33158,33158,33158,33158,33190,33190,AZ
3,5,Arkansas,2350107,2253450,1901082,2915918,2673393,Arkansas,891049,805730,...,13038,13060,13068,13068,13068,13068,13068,13068,13068,AR
4,6,California,29724503,23575384,19838084,37253956,33871650,California,10377409,8624938,...,104047,104114,104130,104130,104130,104165,104185,104196,104277,CA

In [67]:
print(ahd_df.shape)
ahd_df.head()

(3223, 7)

,fips_code,Staffed_Beds,Total_Discharges,Patient_Days,Gross_Patient_Revenue,Hospitals,Local_Hospital
0,1001,77.0,3049.0,15984.0,250284.0,1.0,yes
1,1003,301.0,18080.0,78361.0,2481966.0,3.0,yes
2,1005,47.0,1055.0,4571.0,76099.0,1.0,yes
3,1007,156.0,229.0,1053.0,31288.0,1.0,yes
4,1009,0.0,0.0,0.0,0.0,0.0,no

In [68]:
# # missing states
# ahd_states_info = pd.DataFrame(ahd_df.State.value_counts()).reset_index()

# for val in ahd_states_info.State:
#   if val not in state_abbreviations.values():
#     print(val)

# ahd_states_info[(ahd_states_info.State == "GU") | (ahd_states_info.State == "VI") | (ahd_states_info.State == "MP") | (ahd_states_info.State == "AS") ]

AttributeError: 'DataFrame' object has no attribute 'State'

In [69]:
# df_main = df_main.merge(ahd_df, on='State', how='inner')

KeyError: 'State'

In [ ]:
# df_main.shape

## TODO: Looks like we are missing 80 ish hospitals, need to figure out why

(3864, 2351)

In [ ]:
# all_cur_hospital = set(df_main.Hospital_Name.values.tolist())
# all_hospital_in_ahd = set(ahd_df.Hospital_Name.values.tolist())

# missing_hospital = list(all_hospital_in_ahd - all_cur_hospital)
# missing_hospitals_df = ahd_df[ahd_df.Hospital_Name.isin(missing_hospital)]

# missing_hospitals_df.State.value_counts()

PR    56
GU     3
VI     2
AS     1
MP     1
Name: State, dtype: int64

In [ ]:
# df_main.head()

,Right_STATE_x,state,POP90_x,POP80_x,POP70_x,POP10_x,POP00_x,NAME_x,HHD90_x,HHD80_x,...,2023-03-21_y,2023-03-22_y,2023-03-23_y,State,Hospital_Name,City,Staffed_Beds,Total_Discharges,Patient_Days,Gross_Patient_Revenue
0,1,Alabama,4040576,3886040,3434507,4779736,4447059,Alabama,1506778,1340563,...,21612,21631,21631,AL,Andalusia Health,Andalusia,83,"2,196","9,475","$296,507"
1,1,Alabama,4040576,3886040,3434507,4779736,4447059,Alabama,1506778,1340563,...,21612,21631,21631,AL,Ascension Saint Vincent's Birmingham,Birmingham,401,"17,201","94,162","$2,334,190"
2,1,Alabama,4040576,3886040,3434507,4779736,4447059,Alabama,1506778,1340563,...,21612,21631,21631,AL,Ascension Saint Vincent's Chilton,Clanton,26,652,"2,098","$150,890"
3,1,Alabama,4040576,3886040,3434507,4779736,4447059,Alabama,1506778,1340563,...,21612,21631,21631,AL,Ascension Saint Vincent's St. Clair,Pell City,40,"1,975","10,004","$271,331"
4,1,Alabama,4040576,3886040,3434507,4779736,4447059,Alabama,1506778,1340563,...,21612,21631,21631,AL,Ascension St. Vincent's East,Birmingham,311,"12,222","78,475","$1,324,754"

In [ ]:
# df_main.rename(columns={'State': 'state_id'}, inplace=True)

In [ ]:
# df_main.to_csv('df_main.csv', index=False)

### Adding FIPS

In [ ]:
df_main.columns = [col.lower() for col in df_main.columns]

In [ ]:
df_fips = pd.read_csv('../Datasets/uscities.csv')

In [ ]:
df_fips

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36081,Queens,40.6943,-73.9249,18972871,10768.2,shape,False,True,America/New_York,1,11229 11226 11225 11224 11223 11221 11220 1138...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,12121244,3267.6,shape,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90035 90034 9003...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8375,-87.6866,8595181,4576.6,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7840,-80.2101,5711945,4945.7,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 3314...,1840015149
4,Dallas,Dallas,TX,Texas,48113,Dallas,32.7935,-96.7667,5668165,1522.2,shape,False,True,America/Chicago,1,75287 75098 75234 75254 75251 75252 75253 7503...,1840019440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30839,Ironville,Ironville,PA,Pennsylvania,42013,Blair,40.6586,-78.2155,0,59.2,shape,False,False,America/New_York,3,16686,1840152922
30840,Newkirk,Newkirk,NM,New Mexico,35019,Guadalupe,35.0635,-104.2715,0,0.0,shape,False,False,America/Denver,3,88417,1840024978
30841,Falcon Village,Falcon Village,TX,Texas,48427,Starr,26.5652,-99.1341,0,38.9,shape,False,False,America/Chicago,3,78545,1840018314
30842,Hidden Lakes,Hidden Lakes,OH,Ohio,39117,Morrow,40.5479,-82.7632,0,18.6,shape,False,False,America/New_York,3,43338,1840153068
30843,El Monte Mobile Village,El Monte Mobile Village,CA,California,6107,Tulare,36.5471,-119.4251,0,155.4,shape,False,False,America/Los_Angeles,3,93618,1840153158

In [ ]:
# get fips to 5 digits 
df_fips['county_fips'] = df_fips['county_fips'].astype(str).apply(lambda x: x.zfill(5))

In [ ]:
df_main_fips = df_main.merge(df_fips, on=['city', 'state_id'], how='inner')

In [ ]:
df_main_fips[['hospital_name', 'county_fips']]

                             hospital_name county_fips
0                         Andalusia Health       01039
1     Ascension Saint Vincent's Birmingham       01073
2             Ascension St. Vincent's East       01073
3             Birmingham VA Medical Center       01073
4         Brookwood Baptist Medical Center       01073
...                                    ...         ...
3612                   Saint John's Health       56039
3613            Sheridan Memorial Hospital       56033
3614            Sheridan VA Medical Center       56033
3615                 Summit Medical Center       56025
3616                Wyoming Medical Center       56025

[3617 rows x 2 columns]

In [ ]:
df_main_fips['county_fips']

0       01039
1       01073
2       01073
3       01073
4       01073
        ...
3612    56039
3613    56033
3614    56033
3615    56025
3616    56025
Name: county_fips, Length: 3617, dtype: object

In [ ]:
df_main_fips.groupby('county_fips').agg({'staffed_beds': 'sum'})

            staffed_beds
county_fips
01001                 77
01003           48112141
01005                 47
01007                156
01011                 54
...                  ...
56025              16226
56033                710
56037                058
56039                121
56041                 32

[1448 rows x 1 columns]

### Merging AHD with FIPS

In [125]:
df_ahd_fips = pd.read_csv('../Datasets/AHD_data/ahd_full_fips.csv')

In [126]:
df_ahd_fips.rename(columns={'fips_code': 'fips'}, inplace=True)

In [127]:
df_ahd_fips['fips'] = df_ahd_fips['fips'].astype(str).apply(lambda x: x.zfill(5))

In [78]:
# adi
df_adi['FIPS'] = df_adi['FIPS'].astype(str).apply(lambda x: x.zfill(12))

In [79]:
df_adi['fips'] = df_adi['FIPS'].astype(str).str.slice(0, 5)

In [80]:
# Convert the columns to numeric, setting errors='coerce' to replace invalid values with NaN
df_adi['ADI_NATRANK'] = pd.to_numeric(df_adi['ADI_NATRANK'], errors='coerce')
df_adi['ADI_STATERNK'] = pd.to_numeric(df_adi['ADI_STATERNK'], errors='coerce')

# Drop rows containing NaN in either of the columns
df_adi = df_adi.dropna(subset=['ADI_NATRANK', 'ADI_STATERNK'])

In [81]:
df_adi = df_adi.groupby('fips').agg({'ADI_NATRANK':'mean', 'ADI_STATERNK': 'mean'})

In [ ]:
df_adi.to_csv('df_adi.csv', index=False)

In [82]:
# covid
df_county_cases = pd.read_csv('../Datasets/covid_data/us_county_confirmed_cases.csv')
df_county_deaths = pd.read_csv('../Datasets/covid_data/us_county_confirmed_deaths.csv')

In [83]:
df_county_cases.rename(columns={'countyFIPS': 'fips'}, inplace=True)
df_county_deaths.rename(columns={'countyFIPS': 'fips'}, inplace=True)

In [84]:
df_county_cases['fips'] = df_county_cases['fips'].astype(str).apply(lambda x: x.zfill(5))
df_county_deaths['fips'] = df_county_deaths['fips'].astype(str).apply(lambda x: x.zfill(5))

In [85]:
df_county_deaths = df_county_deaths.drop(columns=[
    'COUNTY', 'NAME', 'POP70', 'HHD70', 'POP80', 'HHD80',
    'POP90', 'HHD90', 'POP00', 'HHD00', 'POP10', 'HHD10',
    'County Name', 'State', 'StateFIPS'
])
df_county_cases_deaths = df_county_cases.merge(df_county_deaths, on='fips', how='inner')

In [135]:
df_county_cases_deaths.to_csv('df_county_cases_deaths.csv', index=False)

In [86]:
# main
df_main = df_ahd_fips.merge(df_adi, on='fips', how='inner')

In [87]:
df_main

,Unnamed: 0,fips,Staffed_Beds,Total_Discharges,Patient_Days,Gross_Patient_Revenue,Hospitals,Local_Hospital,ADI_NATRANK,ADI_STATERNK
0,0,01001,77.0,3049.0,15984.0,250284.0,1.0,yes,66.977778,4.355556
1,1,01003,301.0,18080.0,78361.0,2481966.0,3.0,yes,51.534483,2.655172
2,2,01005,47.0,1055.0,4571.0,76099.0,1.0,yes,90.900000,7.950000
3,3,01007,156.0,229.0,1053.0,31288.0,1.0,yes,83.411765,6.647059
4,4,01009,0.0,0.0,0.0,0.0,0.0,no,72.325581,4.906977
...,...,...,...,...,...,...,...,...,...,...
3198,3215,72145,0.0,0.0,0.0,0.0,0.0,no,92.114286,6.428571
3199,3216,72147,0.0,0.0,0.0,0.0,0.0,no,96.000000,8.000000
3200,3217,72149,0.0,0.0,0.0,0.0,0.0,no,95.647059,8.000000
3201,3218,72151,0.0,0.0,0.0,0.0,0.0,no,96.333333,8.333333
3202,3219,72153,0.0,0.0,0.0,0.0,0.0,no,96.280000,8.200000

In [88]:
df_main = df_main.merge(df_county_cases_deaths, on='fips', how='inner')

In [89]:
fips_ahd = set(df_main.fips.values.tolist())
fips_covid = set(df_county_cases_deaths.fips.values.tolist())

In [90]:
fips_ahd - (fips_ahd.intersection(fips_covid))

set()

In [91]:
# y for deaths, x for cases
df_main

,Unnamed: 0,fips,Staffed_Beds,Total_Discharges,Patient_Days,Gross_Patient_Revenue,Hospitals,Local_Hospital,ADI_NATRANK,ADI_STATERNK,...,2023/4/8_y,2023/4/9_y,2023/4/10_y,2023/4/11_y,2023/4/12_y,2023/4/13_y,2023/4/14_y,2023/4/15_y,2023/4/16_y,2023/4/17_y
0,0,01001,77.0,3049.0,15984.0,250284.0,1.0,yes,66.977778,4.355556,...,235.0,235.0,235.0,235.0,235.0,235.0,235.0,235.0,235.0,235.0
1,1,01003,301.0,18080.0,78361.0,2481966.0,3.0,yes,51.534483,2.655172,...,731.0,731.0,731.0,731.0,731.0,731.0,731.0,731.0,731.0,731.0
2,2,01005,47.0,1055.0,4571.0,76099.0,1.0,yes,90.900000,7.950000,...,104.0,104.0,104.0,104.0,104.0,104.0,104.0,104.0,104.0,104.0
3,3,01007,156.0,229.0,1053.0,31288.0,1.0,yes,83.411765,6.647059,...,111.0,111.0,111.0,111.0,111.0,111.0,111.0,111.0,111.0,111.0
4,4,01009,0.0,0.0,0.0,0.0,0.0,no,72.325581,4.906977,...,261.0,261.0,261.0,261.0,261.0,261.0,261.0,261.0,261.0,261.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3120,3136,56037,58.0,1279.0,4742.0,207720.0,2.0,yes,54.088235,6.147059,...,139.0,139.0,139.0,139.0,139.0,139.0,139.0,139.0,139.0,139.0
3121,3137,56039,121.0,1711.0,5932.0,273723.0,1.0,yes,6.473684,1.000000,...,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0
3122,3138,56041,32.0,803.0,1627.0,105109.0,1.0,yes,57.058824,7.117647,...,43.0,43.0,43.0,43.0,43.0,43.0,43.0,43.0,43.0,43.0
3123,3139,56043,0.0,0.0,0.0,0.0,0.0,no,59.555556,7.777778,...,51.0,51.0,51.0,51.0,51.0,51.0,51.0,51.0,51.0,51.0
3124,3140,56045,0.0,0.0,0.0,0.0,0.0,no,63.600000,8.600000,...,23.0,23.0,23.0,23.0,23.0,23.0,23.0,23.0,23.0,23.0

### Adding Socioeconomic Indicators

In [92]:
df_edu = pd.read_csv('D:/UCLA/Capstone/HMS-MGH-Capstone-Project/datasets/socioeconomic_indicators/Education.csv', encoding='ISO-8859-1')
df_poverty = pd.read_csv('D:/UCLA/Capstone/HMS-MGH-Capstone-Project/datasets/socioeconomic_indicators/PovertyEstimates.csv', encoding='ISO-8859-1')
df_unemployment = pd.read_csv('D:/UCLA/Capstone/HMS-MGH-Capstone-Project/datasets/socioeconomic_indicators/Unemployment.csv', encoding='ISO-8859-1')

In [93]:
df_edu.rename(columns={'Federal Information Processing Standard (FIPS) Code': 'fips'}, inplace=True)
df_poverty.rename(columns={'FIPS_Code': 'fips'}, inplace=True)
df_unemployment.rename(columns={'FIPS_Code': 'fips'}, inplace=True)

In [94]:
df_edu['fips']

0             0
1             0
2             0
3             0
4             0
          ...
169230    72153
169231    72153
169232    72153
169233    72153
169234    72153
Name: fips, Length: 169235, dtype: int64

In [95]:
df_edu = df_edu[df_edu['Value'] < 100]
df_poverty = df_poverty[df_poverty['Value'] < 100]
df_unemployment = df_unemployment[df_unemployment['Value'] < 100]

In [96]:
df_edu = df_edu.groupby('fips').agg({'Value':'mean'}).reset_index()
df_poverty = df_poverty.groupby('fips').agg({'Value':'mean'}).reset_index()
df_unemployment = df_unemployment.groupby('fips').agg({'Value':'mean'}).reset_index()

In [97]:
df_edu_pov = df_edu.merge(df_poverty, on='fips', how='inner', suffixes=('_education', '_poverty'))

In [98]:
df_edu_pov_unem = df_edu_pov.merge(df_unemployment, on='fips', how='inner')

In [99]:
df_edu_pov_unem.rename(columns={'Value': 'Value_unemployment'}, inplace=True)

In [100]:
df_edu_pov_unem['fips'] = df_edu_pov_unem['fips'].astype(str).apply(lambda x: x.zfill(5))

In [134]:
df_edu_pov_unem.to_csv('df_edu_pov_unem.csv', index=False)

In [101]:
df_main = df_main.merge(df_edu_pov_unem, on='fips', how='inner')

In [102]:
df_main

,Unnamed: 0,fips,Staffed_Beds,Total_Discharges,Patient_Days,Gross_Patient_Revenue,Hospitals,Local_Hospital,ADI_NATRANK,ADI_STATERNK,...,2023/4/11_y,2023/4/12_y,2023/4/13_y,2023/4/14_y,2023/4/15_y,2023/4/16_y,2023/4/17_y,Value_education,Value_poverty,Value_unemployment
0,0,01001,77.0,3049.0,15984.0,250284.0,1.0,yes,66.977778,4.355556,...,235.0,235.0,235.0,235.0,235.0,235.0,235.0,21.714286,10.400000,4.611538
1,1,01003,301.0,18080.0,78361.0,2481966.0,3.0,yes,51.534483,2.655172,...,731.0,731.0,731.0,731.0,731.0,731.0,731.0,21.928571,10.861538,4.830769
2,2,01005,47.0,1055.0,4571.0,76099.0,1.0,yes,90.900000,7.950000,...,104.0,104.0,104.0,104.0,104.0,104.0,104.0,22.285714,23.053846,9.800000
3,3,01007,156.0,229.0,1053.0,31288.0,1.0,yes,83.411765,6.647059,...,111.0,111.0,111.0,111.0,111.0,111.0,111.0,21.571429,18.446154,8.814815
4,4,01009,0.0,0.0,0.0,0.0,0.0,no,72.325581,4.906977,...,261.0,261.0,261.0,261.0,261.0,261.0,261.0,21.571429,10.600000,4.480769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3120,3136,56037,58.0,1279.0,4742.0,207720.0,2.0,yes,54.088235,6.147059,...,139.0,139.0,139.0,139.0,139.0,139.0,139.0,22.360714,8.323077,4.438462
3121,3137,56039,121.0,1711.0,5932.0,273723.0,1.0,yes,6.473684,1.000000,...,16.0,16.0,16.0,16.0,16.0,16.0,16.0,22.496429,12.092857,4.176923
3122,3138,56041,32.0,803.0,1627.0,105109.0,1.0,yes,57.058824,7.117647,...,43.0,43.0,43.0,43.0,43.0,43.0,43.0,22.500000,9.230769,4.723077
3123,3139,56043,0.0,0.0,0.0,0.0,0.0,no,59.555556,7.777778,...,51.0,51.0,51.0,51.0,51.0,51.0,51.0,22.710714,16.021429,7.985185
3124,3140,56045,0.0,0.0,0.0,0.0,0.0,no,63.600000,8.600000,...,23.0,23.0,23.0,23.0,23.0,23.0,23.0,22.567857,14.371429,10.560714

In [103]:
df_main.to_csv('df_main.csv', index=False)

In [104]:
df_main.shape

(3125, 2392)

In [108]:
fips_ahd = set(df_main.fips.values.tolist())
ahd_df_set = set(ahd_df.fips.values.tolist())
fips_covid = set(df_county_cases_deaths.fips.values.tolist())
# fips_ahd - (fips_ahd.intersection(fips_covid)) - (fips_ahd.intersection(ahd_df_set))

AttributeError: 'DataFrame' object has no attribute 'fips'

In [129]:
ahd_df_set = set(df_ahd_fips.fips.values.tolist())
ahd_df_set - (ahd_df_set.intersection(fips_covid))
len(ahd_df_set - (ahd_df_set.intersection(fips_covid)))
# ahd_df_set - fips_covid

83

In [130]:
dfmainset = set(df_main.fips.values.tolist())

In [133]:
len(ahd_df_set - dfmainset)

98

In [121]:
df_edu_pov_unem

       fips  Value_education  Value_poverty  Value_unemployment
0     00000        25.004167      16.025000            5.873913
1     01000        24.991667      21.425000            5.821739
2     01001        21.714286      10.400000            4.611538
3     01003        21.928571      10.861538            4.830769
4     01005        22.285714      23.053846            9.800000
...     ...              ...            ...                 ...
3189  56037        22.360714       8.323077            4.438462
3190  56039        22.496429      12.092857            4.176923
3191  56041        22.500000       9.230769            4.723077
3192  56043        22.710714      16.021429            7.985185
3193  56045        22.567857      14.371429           10.560714

[3194 rows x 4 columns]

In [120]:
df_edu_pov_unem['fips']

0       00000
1       01000
2       01001
3       01003
4       01005
        ...
3189    56037
3190    56039
3191    56041
3192    56043
3193    56045
Name: fips, Length: 3194, dtype: object

In [119]:
df_county_cases_deaths['fips']

0       01001
1       01003
2       01005
3       01007
4       01009
        ...
3144    56037
3145    56039
3146    56041
3147    56043
3148    56045
Name: fips, Length: 3149, dtype: object

In [117]:
df_main.shape

(3125, 2392)

In [122]:
dfmainset = set(df_main.fips.values.tolist())

In [ ]:
dfmainset - ahd

In [116]:
ahd_df.shape

(3223, 7)