# Example Geocoding

In [172]:
import requests

In [256]:
API_KEY = "AIzaSyChTl7T6fZ6ihh0Pb7iqfN81MN-9-MPzHE"
address = ' Lake Region Hospital Fergus Falls, MN	'

In [257]:
params = {
    'key': API_KEY,
    'address': address
}

base_url = 'https://maps.googleapis.com/maps/api/geocode/json?'

In [258]:
response = requests.get(base_url, params = params).json()
response.keys()

dict_keys(['results', 'status'])

In [259]:
response['results']

[{'address_components': [{'long_name': '111',
    'short_name': '111',
    'types': ['street_number']},
   {'long_name': 'West Vernon Avenue',
    'short_name': 'W Vernon Ave',
    'types': ['route']},
   {'long_name': 'Fergus Falls',
    'short_name': 'Fergus Falls',
    'types': ['locality', 'political']},
   {'long_name': 'Otter Tail County',
    'short_name': 'Otter Tail County',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'Minnesota',
    'short_name': 'MN',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']},
   {'long_name': '56537', 'short_name': '56537', 'types': ['postal_code']}],
  'formatted_address': '111 W Vernon Ave, Fergus Falls, MN 56537, USA',
  'geometry': {'location': {'lat': 46.2768753, 'lng': -96.0736053},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 46.2782051302915,
     'lng': -96.0725688197085},
    'southwest': {'lat': 46.2755071697085, 'lng': -96.07526678029151}}},
  'partial_match': True,
  'place_id': 'ChIJVVVVPIJ2yVIRJXLisJxY8Eo',
  'plus_code': {'compound_code': '7WGG+QH Fergus Falls, MN',
   'global_code': '86R57WGG+QH'},
  'types': ['doctor', 'establishment', 'health', 'point_of_interest']}]

In [260]:
zip_code = response['results'][0]['address_components'][-1]['long_name']
print(zip_code)

56537

In [261]:
geometry = response['results'][0]['geometry']
lat = geometry['location']['lat']
lon = geometry['location']['lng']
print(lat, lon)

46.2768753 -96.0736053

In [113]:
response['results'][0]['formatted_address']

'3260 Hospital Dr, Juneau, AK 99801, USA'

In [197]:
response['results'][0]['address_components'][1]['long_name']

'Jefferson County'

In [238]:
lat = 40
lon = -75

#Encode parameters 
params = {'latitude': lat, 'longitude':lon, 'format':'json'}

#Contruct request URL
url = 'https://geo.fcc.gov/api/census/block/find?' 

#Get response from API
response = requests.get(url, params = params).json()
fips = response['County']['FIPS']
county = response['County']['name']
print(response)
print(fips)
print(county)

{'Block': {'FIPS': '340057003032019', 'bbox': [-75.00337, 39.994344, -74.993845, 40.002809]}, 'County': {'FIPS': '34005', 'name': 'Burlington County'}, 'State': {'FIPS': '34', 'code': 'NJ', 'name': 'New Jersey'}, 'status': 'OK', 'executionTime': '0'}
34005
Burlington County

# Loading AHD Dataset

In [114]:
import pandas as pd

In [115]:
df = pd.read_csv(r"C:\Users\jacly\Documents\Grad School Classes\Capstone Project\combined_csv.csv")

In [116]:
df['Staffed_Beds'] = df['Staffed_Beds'].str.replace(',', '')
df['Staffed_Beds'] = df['Staffed_Beds'].str.replace('$', '')
df['Staffed_Beds'] = df['Staffed_Beds'].astype('int')

df['Total_Discharges'] = df['Total_Discharges'].str.replace(',', '')
df['Total_Discharges'] = df['Total_Discharges'].str.replace('$', '')
df['Total_Discharges'] = df['Total_Discharges'].astype('int')

df['Patient_Days'] = df['Patient_Days'].str.replace(',', '')
df['Patient_Days'] = df['Patient_Days'].str.replace('$', '')
df['Patient_Days'] = df['Patient_Days'].astype('int')

df['Gross_Patient_Revenue'] = df['Gross_Patient_Revenue'].str.replace(',', '')
df['Gross_Patient_Revenue'] = df['Gross_Patient_Revenue'].str.replace('$', '')
df['Gross_Patient_Revenue'] = df['Gross_Patient_Revenue'].astype('int')

C:\Users\jacly\AppData\Local\Temp\ipykernel_22532\208155078.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Staffed_Beds'] = df['Staffed_Beds'].str.replace('$', '')
C:\Users\jacly\AppData\Local\Temp\ipykernel_22532\208155078.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Total_Discharges'] = df['Total_Discharges'].str.replace('$', '')
C:\Users\jacly\AppData\Local\Temp\ipykernel_22532\208155078.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Patient_Days'] = df['Patient_Days'].str.replace('$', '')
C:\Users\jacly\AppData\Local\Temp\ipykernel_22532\208155078.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Gross_Patient_Revenue'] = df['Gross_Patient_Revenue'].str.replace('$', '')

In [117]:
df['address'] = df['Hospital_Name'] + ' ' + df['City'] + ', ' + df['State']

In [118]:
hospital_address = df['address']

In [119]:
len(hospital_address)

3927

# Obtain geocoding for all hospital addresses

In [120]:
import numpy as np

In [122]:
# geocoding data
API_KEY = "AIzaSyChTl7T6fZ6ihh0Pb7iqfN81MN-9-MPzHE"
base_url = 'https://maps.googleapis.com/maps/api/geocode/json?'

# loop through all addresses
latitudes = []
longitudes = []
full_address = []
for add in hospital_address: 
    address = add
    params = {
    'key': API_KEY,
    'address': address
    }
    
    #access geocoding api 
    response = requests.get(base_url, params = params).json() 
    if response['status'] == 'OK':
        geometry = response['results'][0]['geometry']
        lat = geometry['location']['lat']
        lon = geometry['location']['lng'] 
        full = response['results'][0]['formatted_address']
    else:
        lat = np.nan
        lon = np.nan
        full = np.nan
    
    #append to lists
    latitudes.append(lat)
    longitudes.append(lon)
    full_address.append(full)

In [138]:
# Adding new columns to original dataset 
df['Longitude'] = longitudes
df['Latitude'] = latitudes
df['Full_Address'] = full_address
df['zip_code'] = df['Full_Address'].str.slice(0, -5).str.strip().str[-5:]

In [139]:
df['zip_code']

0       99505
1       99508
2       99508
3       99801
4       99703
        ...
3922    83001
3923    82801
3924    82801
3925    82609
3926    82601
Name: zip_code, Length: 3927, dtype: object

In [140]:
df.head()

,Unnamed: 0,State,Hospital_Name,City,Staffed_Beds,Total_Discharges,Patient_Days,Gross_Patient_Revenue,address,Longitude,Latitude,Full_Address,zip_code
0,0,AK,673d Medical Group - Joint Base Elmendorf-Rich...,Joint Base Elmendorf-Richardson,0,0,0,0,673d Medical Group - Joint Base Elmendorf-Rich...,-149.693213,61.254673,"600 Richardson Dr, Anchorage, AK 99505, USA",99505
1,1,AK,Alaska Native Medical Center,Anchorage,174,8079,40053,0,"Alaska Native Medical Center Anchorage, AK",-149.800243,61.182452,"4315 Diplomacy Dr, Anchorage, AK 99508, USA",99508
2,2,AK,Alaska Regional Hospital,Anchorage,176,7205,42868,1749027,"Alaska Regional Hospital Anchorage, AK",-149.828362,61.210683,"2801 DeBarr Rd, Anchorage, AK 99508, USA",99508
3,3,AK,Bartlett Regional Hospital,Juneau,57,1506,8091,212228,"Bartlett Regional Hospital Juneau, AK",-134.465175,58.328736,"3260 Hospital Dr, Juneau, AK 99801, USA",99801
4,4,AK,Bassett Army Community Hospital,Fort Wainwright,0,0,0,0,Bassett Army Community Hospital Fort Wainwrigh...,-147.663661,64.830065,"4076 Neely Rd, Fort Wainwright, AK 99703, USA",99703

# Use Lat, Lon to get Fips Code

In [239]:
#Contruct request URL
url = 'https://geo.fcc.gov/api/census/block/find?' 

fips_code = []
county_name = []
for i in range(len(latitudes)): 
    lat = latitudes[i]
    lon = longitudes[i]
    #Encode parameters 
    params = {'latitude': lat, 'longitude':lon, 'format':'json'}
    
    #access api 
    response = requests.get(url, params = params).json()
    
    if response['status'] == 'OK':
        fips = response['County']['FIPS']
        county = response['County']['name']
    else:
        fips = np.nan
        county = np.nan
    
    #append to lists
    fips_code.append(fips)
    county_name.append(county)

In [240]:
df['fips_code'] = fips_code
df['county_name'] = county_name

# Check for na values

In [252]:
# separate for hospitals with na
df_na = df[df['county_name'].isna()]
df_yes = df[~df['county_name'].isna()]

In [262]:
hospital_address_na = df_na['address']

In [269]:
# loop through all addresses
latitudes_na = []
longitudes_na = []
full_address_na = []
for add in hospital_address_na: 
    address = add
    params = {
    'key': API_KEY,
    'address': address
    }
    
    #access geocoding api 
    response = requests.get(base_url, params = params).json() 
    if response['status'] == 'OK':
        geometry = response['results'][0]['geometry']
        lat = geometry['location']['lat']
        lon = geometry['location']['lng'] 
        full = response['results'][0]['formatted_address']
    else:
        lat = np.nan
        lon = np.nan
        full = np.nan
#     geometry = response['results'][0]['geometry']
#     lat = geometry['location']['lat']
#     lon = geometry['location']['lng'] 
#     full = response['results'][0]['formatted_address']
    #append to lists
    latitudes_na.append(lat)
    longitudes_na.append(lon)
    full_address_na.append(full)

In [271]:
df_na['Longitude'] = longitudes_na
df_na['Latitude'] = latitudes_na
df_na['Full_Address'] = full_address_na

C:\Users\jacly\AppData\Local\Temp\ipykernel_22532\613811667.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na['Longitude'] = longitudes_na
C:\Users\jacly\AppData\Local\Temp\ipykernel_22532\613811667.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na['Latitude'] = latitudes_na
C:\Users\jacly\AppData\Local\Temp\ipykernel_22532\613811667.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na['Full_Address'] = full_address_na

In [273]:
#Contruct request URL
url = 'https://geo.fcc.gov/api/census/block/find?' 

fips_code = []
county_name = []
for i in range(len(latitudes_na)): 
    lat = latitudes_na[i]
    lon = longitudes_na[i]
    #Encode parameters 
    params = {'latitude': lat, 'longitude':lon, 'format':'json'}
    
    #access api 
    response = requests.get(url, params = params).json()
    
    if response['status'] == 'OK':
        fips = response['County']['FIPS']
        county = response['County']['name']
    else:
        fips = np.nan
        county = np.nan
    
    #append to lists
    fips_code.append(fips)
    county_name.append(county)

In [276]:
df_na['fips_code'] = fips_code
df_na['county_name'] = county_name

C:\Users\jacly\AppData\Local\Temp\ipykernel_22532\2933536864.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na['fips_code'] = fips_code
C:\Users\jacly\AppData\Local\Temp\ipykernel_22532\2933536864.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na['county_name'] = county_name

In [277]:
df_na

,Unnamed: 0,State,Hospital_Name,City,Staffed_Beds,Total_Discharges,Patient_Days,Gross_Patient_Revenue,address,Longitude,Latitude,Full_Address,zip_code,fips_code,county_name
1823,16,MN,Lake Region Hospital,Fergus Falls,94,1518,5475,339249,"Lake Region Hospital Fergus Falls, MN",-96.073605,46.276875,"111 W Vernon Ave, Fergus Falls, MN 56537, USA",nan,27111,Otter Tail County
2160,13,NE,Faith Regional Health Services,Norfolk,129,4717,21356,506075,"Faith Regional Health Services Norfolk, NE",-97.452968,42.033824,"2700 W Norfolk Ave, Norfolk, NE 68701, USA",nan,31119,Madison County
3659,24,VA,Fort Belvoir Community Hospital,Fort Belvoir,0,0,0,0,"Fort Belvoir Community Hospital Fort Belvoir, VA",-77.143155,38.705672,"9300 DeWitt Loop, Fort Belvoir, VA 22060, USA",nan,51059,Fairfax County

In [287]:
df_yes = df_yes.append(df_na)

C:\Users\jacly\AppData\Local\Temp\ipykernel_22532\462139930.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_yes = df_yes.append(df_na)

In [288]:
df_yes['fips_code'].isna().sum() # all hospitals have fips code now

0

In [289]:
ahd_full = df_yes[['State', 'Hospital_Name', 'City', 'Staffed_Beds', 'Total_Discharges', 'Patient_Days',
                  'Gross_Patient_Revenue', 'Longitude', 'Latitude', 'Full_Address', 'fips_code', 'county_name']]

In [298]:
ahd_full.shape

(3927, 12)

In [299]:
# filter for only states and no territories
states = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
ahd_full = ahd_full[ahd_full['State'].isin(states)]

In [300]:
ahd_full.shape

(3857, 12)

In [301]:
ahd_full.head()

,State,Hospital_Name,City,Staffed_Beds,Total_Discharges,Patient_Days,Gross_Patient_Revenue,Longitude,Latitude,Full_Address,fips_code,county_name
0,AK,673d Medical Group - Joint Base Elmendorf-Rich...,Joint Base Elmendorf-Richardson,0,0,0,0,-149.693213,61.254673,"600 Richardson Dr, Anchorage, AK 99505, USA",02020,Anchorage Municipality
1,AK,Alaska Native Medical Center,Anchorage,174,8079,40053,0,-149.800243,61.182452,"4315 Diplomacy Dr, Anchorage, AK 99508, USA",02020,Anchorage Municipality
2,AK,Alaska Regional Hospital,Anchorage,176,7205,42868,1749027,-149.828362,61.210683,"2801 DeBarr Rd, Anchorage, AK 99508, USA",02020,Anchorage Municipality
3,AK,Bartlett Regional Hospital,Juneau,57,1506,8091,212228,-134.465175,58.328736,"3260 Hospital Dr, Juneau, AK 99801, USA",02110,Juneau City and Borough
4,AK,Bassett Army Community Hospital,Fort Wainwright,0,0,0,0,-147.663661,64.830065,"4076 Neely Rd, Fort Wainwright, AK 99703, USA",02090,Fairbanks North Star Borough

# Save Data for full AHD

In [303]:
ahd_full.to_csv(r'C:\Users\jacly\Documents\Grad School Classes\Capstone Project\ahd_full.csv')

# Get list of all FIPS Code

In [308]:
fips = pd.read_csv(r"C:\Users\jacly\Documents\Grad School Classes\Capstone Project\zip_fips.csv")

In [311]:
fips.head()

     ZIP      COUNTYNAME STATE STCOUNTYFP CLASSFP
0  36003  Autauga County    AL      01001      H1
1  36006  Autauga County    AL      01001      H1
2  36067  Autauga County    AL      01001      H1
3  36066  Autauga County    AL      01001      H1
4  36703  Autauga County    AL      01001      H1

In [310]:
fips['STCOUNTYFP'] = fips['STCOUNTYFP'].astype(str).apply(lambda x: x.zfill(5))

In [313]:
fips_codes = fips.STCOUNTYFP.unique()

In [314]:
all_fips = pd.DataFrame(list(fips_codes), columns = ['fips_code'])

In [315]:
all_fips.shape

(3223, 1)

# Group AHD data by FIPS Code

In [304]:
ahd_fips = ahd_full.groupby('fips_code').agg({'Staffed_Beds': 'sum', 'Total_Discharges': 'sum', 'Patient_Days': 'sum', 'Gross_Patient_Revenue': 'sum',
                                               'fips_code': np.size})

In [305]:
ahd_fips = ahd_fips.rename(columns = {'fips_code': 'Hospitals'})
ahd_fips.reset_index(inplace=True)

In [306]:
ahd_fips.shape

(1492, 6)

In [307]:
ahd_fips.head()

,fips_code,Staffed_Beds,Total_Discharges,Patient_Days,Gross_Patient_Revenue,Hospitals
0,01001,77,3049,15984,250284,1
1,01003,301,18080,78361,2481966,3
2,01005,47,1055,4571,76099,1
3,01007,156,229,1053,31288,1
4,01011,54,208,1317,42632,1

In [316]:
df = pd.merge(all_fips, ahd_fips,  how='left', left_on=['fips_code'], right_on = ['fips_code'])

In [319]:
df.head()

,fips_code,Staffed_Beds,Total_Discharges,Patient_Days,Gross_Patient_Revenue,Hospitals
0,01001,77.0,3049.0,15984.0,250284.0,1.0
1,01003,301.0,18080.0,78361.0,2481966.0,3.0
2,01005,47.0,1055.0,4571.0,76099.0,1.0
3,01007,156.0,229.0,1053.0,31288.0,1.0
4,01009,0.0,0.0,0.0,0.0,0.0

In [318]:
# fill nas with 0
df = df.fillna(0)

In [323]:
df['Local_Hospital'] = np.where(df['Hospitals'] == 0, "no", "yes")

In [324]:
df.head()

,fips_code,Staffed_Beds,Total_Discharges,Patient_Days,Gross_Patient_Revenue,Hospitals,Local_Hospital
0,01001,77.0,3049.0,15984.0,250284.0,1.0,yes
1,01003,301.0,18080.0,78361.0,2481966.0,3.0,yes
2,01005,47.0,1055.0,4571.0,76099.0,1.0,yes
3,01007,156.0,229.0,1053.0,31288.0,1.0,yes
4,01009,0.0,0.0,0.0,0.0,0.0,no

In [326]:
df.to_csv(r'C:\Users\jacly\Documents\Grad School Classes\Capstone Project\ahd_full_fips.csv')